html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  color: var(--grey);
}

p {
  margin: 0;
  font-size: 2.2rem;

  @media screen and (min-width: 1024px) {
    font-size: 2.4rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 5.8rem;
  font-weight: 500;

  @media screen and (min-width: 1024px) {
    font-size: 10rem;
  }
}

h2 {
  font-size: 4rem;

  @media screen and (min-width: 1024px) {
    font-size: 6.4rem;
  }
}

h3 {
  font-size: 3.2rem;

  @media screen and (min-width: 1024px) {
    font-size: 6.8rem;
  }
}

h4 {
  font-size: 2.4rem;

  @media screen and (min-width: 1024px) {
    font-size: 3.6rem;
  }
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 2rem;

  @media screen and (min-width: 1024px) {
    padding-inline: 10rem;
  }
}

.hl {
  color: var(--indigo);
}

.hide-for-mobile {
  @media screen and (max-width: 767.9px) {
    display: none !important;
  }
}

.hide-for-pc {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

.link {
  @media screen and (min-width: 768px) {
    &:hover {
      &::after {
        width: 75%;
      }
    }

    &::after {
      display: block;
      content: "";
      height: 3px;
      width: 0%;
      background: var(--indigo);
      transition: width 300ms;
    }
  }
}

.main {
  min-height: 100svh;
  position: relative;

  &.primary {
    background: var(--grey);
  }

  &.secondary {
    background: var(--beige);
  }
}

.text-outline {
  &--dark {
    color: var(--beige);
    text-shadow: 2px 2px 0 var(--grey), -2px 2px 0 var(--grey),
      2px -2px 0 var(--grey), -2px -2px 0 var(--grey);
  }

  &--light {
    color: var(--grey);
    text-shadow: 2px 2px 0 var(--beige), -2px 2px 0 var(--beige),
      2px -2px 0 var(--beige), -2px -2px 0 var(--beige);
  }
}

::-webkit-scrollbar {
  display: none;
}
