.button {
  font-family: var(--font);
  border: none;
  font-size: 1.8rem;
  white-space: nowrap;
  cursor: pointer;
  width: fit-content;
  transition: all 75ms;

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }

  &.w100 {
    width: 100%;
  }

  &.small {
    font-size: 1.8rem;
  }

  &.primary {
    position: relative;
    color: var(--grey);
    background: var(--beige);
    border-radius: 100px;
    padding: 1rem 1.8rem;
  }

  &.primarywdot {
    position: relative;
    color: var(--grey);
    background: var(--beige);
    border-radius: 100px;
    padding: 1rem 5.5rem 1rem 1.8rem;

    &:hover {
      > svg {
        opacity: 1;
      }
    }

    > svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.2rem;
      z-index: 1;
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0;
      transition: opacity 50ms;
    }

    &:hover {
      &::after {
        transform: scale(5);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      margin-left: 3rem;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      width: 0.6rem;
      height: 0.6rem;
      background: var(--grey);
      border-radius: 50px;
      transform-origin: 0.35rem 0.4rem;
      transition: transform 200ms;
    }
  }

  &.secondary {
    color: var(--beige);
    background: var(--grey);
    border-radius: 30px;

    &.text {
      padding: 1rem 1.8rem;
    }
  }

  &.secondarywdot {
    position: relative;
    color: var(--beige);
    background: var(--grey);
    border-radius: 100px;
    padding: 1rem 5.5rem 1rem 1.8rem;

    &:hover {
      > svg {
        opacity: 1;
      }
    }

    > svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 1.2rem;
      z-index: 1;
      width: 2.5rem;
      height: 2.5rem;
      opacity: 0;
      transition: opacity 50ms;

      > path {
        stroke: var(--grey);
      }
    }

    &:hover {
      &::after {
        transform: scale(5);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      margin-left: 3rem;
      top: 50%;
      transform: translateY(-50%);
      right: 2rem;
      width: 0.6rem;
      height: 0.6rem;
      background: var(--beige);
      border-radius: 50px;
      transform-origin: 0.35rem 0.4rem;
      transition: transform 200ms;
    }
  }

  &__arrow {
    display: inline-flex;

    > path {
      transform-origin: center;
      stroke: var(--beige);

      &.dark {
        stroke: var(--grey);
      }
    }
  }
}
