.email {
  background: var(--beige);
  padding: 4rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  > span {
    opacity: 0.8;
  }

  > p {
    overflow: hidden;
    word-break: break-all;
  }
}
