.nav {
  padding-top: 4rem;
  position: fixed;
  left: 0rem;
  right: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  pointer-events: none;

  &__burger-container {
    z-index: 20;
    cursor: pointer;
    padding: 1.5rem;
    pointer-events: initial;
  }

  &__logo {
    z-index: 20;
    display: flex;
    align-items: center;
    pointer-events: initial;

    > svg {
      height: 5rem;
      width: 5rem;
    }
    &.dark {
      color: var(--grey);
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 3.2rem;
    height: 3.2rem;

    &.dark {
      > span {
        background: var(--grey);
      }
    }

    > span {
      display: block;
      width: 3.2rem;
      height: 0.25rem;
      background: var(--beige);
    }
  }

  &__content {
    font-size: 2.2rem;
    color: var(--beige);
    display: flex;
    justify-content: space-between;
    width: 100%;

    &.dark {
      color: var(--grey);
    }

    @media screen and (min-width: 768px) {
      padding: 0;
      position: static;
      flex-direction: row;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
